.background[_ngcontent-ng-cli-universal-c238295917], .custom-background[_ngcontent-ng-cli-universal-c238295917], .background-default[_ngcontent-ng-cli-universal-c238295917]{
    position:absolute;
    top:0;
    left:0;
    right:0;
    min-height:485px!important;
    z-index:-1
}
.custom-background[_ngcontent-ng-cli-universal-c238295917]{
    background-color:#ededed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-clip-path:ellipse(90% 75% at 50% 0%);
    clip-path:ellipse(90% 75% at 50% 0%)
}
